[submodule "code/bunsen-themes"]
	path = code/bunsen-themes
	url = https://github.com/BunsenLabs/bunsen-themes.git
[submodule ".covid_data/COVID-19"]
	path = .covid_data/COVID-19
	url = https://github.com/CSSEGISandData/COVID-19.git
